# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.log
media/
staticfiles/
local_settings.py

# Node / React
node_modules/
frontend/dist/
frontend/build/
.npm

# Misc
.DS_Store
.vscode/
.idea/
*.swp
*.swo
